<div class="container px-0">
    <anosrv-urlaub-guthaben-overlay></anosrv-urlaub-guthaben-overlay>

    <div class="urlaub-container mt-lg-3">
        <div class="urlaub-container-header">
            <span class="d-none d-lg-block" [innerHtml]="iconService.getIcon('sonnenschirm', { width: '21.377px', height: '21.017px' })"> </span>
            <h1>Guthaben aus {{ userStoreService.user.value.guthabenJahr }}</h1>
            <h2 class="header-underline"></h2>
        </div>
        <div class="urlaub-container-hinweise" [class.z-index-1]="!showBackdrop">
            <svg class="modal-close" *ngIf="!showBackdrop" routerLink="/urlaub" width="15" height="15" viewBox="0 0 612 612">
        <g>
          <polygon
            points="612,36.004 576.521,0.603 306,270.608 35.478,0.603 0,36.004 270.522,306.011 0,575.997 35.478,611.397
            306,341.411 576.521,611.397 612,575.997 341.459,306.011"
          />
        </g>
      </svg>

            <svg class="modal-close" *ngIf="showBackdrop" (click)="showBackdrop = !showBackdrop" width="15" height="15" viewBox="0 0 612 612">
        <g>
          <polygon
            points="612,36.004 576.521,0.603 306,270.608 35.478,0.603 0,36.004 270.522,306.011 0,575.997 35.478,611.397
            306,341.411 576.521,611.397 612,575.997 341.459,306.011"
          />
        </g>
      </svg>
            <p [class.normal]="!showBackdrop">Die Urlaubstage aus {{ userStoreService.user.value.guthabenJahr }} hast Du nicht alle genommen.</p>
            <p [class.normal]="!showBackdrop">Diese Urlaubstage kannst Du nicht mehr nehmen.</p>
            <p [class.normal]="!showBackdrop">Das Urlaubsguthaben für diese Tage zahlen wir Dir gerne aus!</p>
        </div>
    </div>
    <div class="urlaub-container-details">
        <div class="urlaub-detail-row">
            <h3 class="detail">
                {{ "urlaub.headers.h3" | translate }}
            </h3>
            <span class="d-lg-none urlaub-detail-row__info">
        <anosrv-info-i class="d-flex justify-content-center" name="nichtGenommenerUrlaub" variant="mobile"></anosrv-info-i>
      </span>
            <span class="d-none d-lg-block urlaub-detail-row__info order-lg-3">
        <anosrv-info-i class="d-flex justify-content-center" name="nichtGenommenerUrlaub" variant="desktop"></anosrv-info-i>
      </span>
            <div class="daten urlaub-tage urlaub-tage-detail">{{ userStoreService.user.value.guthabenJahr }}</div>
        </div>

        <div class="urlaub-detail-row">
            <h3 class="regular">verfällt nach dem</h3>
            <div class="urlaub-date-guthaben red">{{ userStoreService.user.value.verfallDatum | date: "dd.MM.yyyy" }}</div>
        </div>
        <div class="urlaub-detail-row">
            <h3 class="detail">
                {{ "urlaub.headers.h3" | translate }}
            </h3>
            <span class="d-lg-none urlaub-detail-row__info">
        <anosrv-info-i class="d-flex justify-content-center" name="guthabenModal" variant="mobile"></anosrv-info-i>
      </span>
            <span class="d-none d-lg-block urlaub-detail-row__info order-lg-3">
        <anosrv-info-i class="d-flex justify-content-center" name="guthabenModal" variant="desktop"></anosrv-info-i>
      </span>
            <div class="daten urlaub-tage urlaub-tage-detail">
                {{ userStoreService.user.value.guthaben | currency: "EUR" }}
            </div>
        </div>
        <div class="urlaub-detail-row margin-t10 margin-b40">
            <span class="text"></span>
        </div>
        <anosrv-button buttonId="button-urlaub-beantragen" class="button-absolute-bottom" routerLink="/urlaub/guthaben/auszahlung" text="jetzt beantragen">
        </anosrv-button>
    </div>
</div>

<div [@dialog] class="modal-mask" *ngIf="showBackdrop"></div>

<anosrv-app-modal modalId="nichtGenommenerUrlaub">
    <div class="modal-heading">
        <h1>INFORMATION</h1>
    </div>

    <h1>nicht genommener Urlaub</h1>
    <ul>
        <li>Du hast noch Urlaubsansprüche aus dem vorletzten Kalenderjahr.</li>
        <li>Den noch nicht in Anspruch genommenen Urlaub kannst Du Dir als Guthaben von uns auszahlen lassen.</li>
        <li>Die Auszahlung des Guthabens kannst Du nur bis Ende dieses Jahres beantragen.</li>
        <li>Versäumst Du diese Frist, verlierst Du Dein Geld!</li>
        <li>Lass Dir das Guthaben jetzt auszahlen!*</li>

        <span class="details">*detaillierte Informationen findest Du unter</span>
        <a class="link" target="_blank" href="www.soka-bau.de/arbeitnehmer/leistungen/urlaubsverfahren/">www.soka-bau.de/arbeitnehmer/leistungen/urlaubsverfahren</a
    >
  </ul>
</anosrv-app-modal>

<anosrv-app-modal modalId="guthabenModal">
  <div class="modal-heading">
    <h1>INFORMATION</h1>
  </div>

  <h1>Guthaben</h1>
  <ul>
    <li>Das Guthaben wird aus dem Resturlaubsanspruch des vorletzten Jahres ermittelt.</li>
    <li>Diesen Betrag kannst Du Dir jetzt auszahlen lassen.*</li>

    <span class="details">*detaillierte Informationen findest Du unter</span>
    <a class="link" target="_blank" href="http://www.soka-bau.de/arbeitnehmer/leistungen/urlaubsverfahren/"
      >www.soka-bau.de/arbeitnehmer/leistungen/urlaubsverfahren</a
    >
  </ul>
</anosrv-app-modal>