@import "~src/scss/variables";

.toolbar-container {
  display: flex;
  height: 48px;
  justify-content: space-between;
  align-items: center;
  padding-left: 9px;
  padding-right: 9px;
}

.icon-left {
  margin-left: 30px;
}

.text {
  font-family: "PT Sans", sans-serif;
  font-size: 15px;
  line-height: 18px;
  padding-left: 11px;
  color: $color-dark-grey;;
}

@media (min-width: 992px) {
  .toolbar-container {
    height: 90px;
    border-top: 3px solid $color-silver;
    border-bottom: 3px solid $color-silver;
  }

  .text {
    font-size: 24px;
  }
}
