.error {
  position: relative;
  padding: 5px 4px;
  border: 1px solid #D62727;
  background: #fff;
  color: #000;
  font-size: 10px;
  margin-bottom: 15px
}
  
.error:before {
  content: "";
  position: absolute; 
  bottom: -15px;
  left: -1px;
  border-width: 14px 9px 0;
  border-style: solid;
  border-color: #D62727 transparent;
  display: block;
  width: 0;
}

.error:after {  
  content: "";
  position: absolute;
  bottom: -13px;
  left: 0px;
  border-width: 13px 8px 0;
  border-style: solid;
  border-color: #fff transparent;
  display: block;
  width: 0;
}
  