<anosrv-hilfe-faq-box [title]="'hilfe.faq-allgemein.q1.title' | translate">
  {{ 'hilfe.faq-allgemein.q1.response' | translate }}
</anosrv-hilfe-faq-box>

<anosrv-hilfe-faq-box [title]="'hilfe.faq-allgemein.q2.title' | translate">
  {{ 'hilfe.faq-allgemein.q2.response' | translate }}
</anosrv-hilfe-faq-box>

<anosrv-hilfe-faq-box [title]="'hilfe.faq-allgemein.q3.title' | translate">
  {{ 'hilfe.faq-allgemein.q3.response' | translate }}
</anosrv-hilfe-faq-box>

<anosrv-hilfe-faq-box [title]="'hilfe.faq-allgemein.q4.title' | translate">
  {{ 'hilfe.faq-allgemein.q4.response' | translate }}
</anosrv-hilfe-faq-box>

<anosrv-hilfe-faq-box [title]="'hilfe.faq-allgemein.q5.title' | translate">
  <p>{{ 'hilfe.faq-allgemein.q5.p1' | translate }}</p>
  <p>
    <b><a routerLink="/user">{{ 'hilfe.faq-allgemein.q5.link' | translate }}</a></b>
  </p>
  <p>{{ 'hilfe.faq-allgemein.q5.p2' | translate:artbeitnehmerNr }}</p>
</anosrv-hilfe-faq-box>

<anosrv-hilfe-faq-box [title]="'hilfe.faq-allgemein.q6.title' | translate">
  <p>{{ 'hilfe.faq-allgemein.q6.p1' | translate }}</p>
  <p>
    <b><a routerLink="/user">{{ 'hilfe.faq-allgemein.q6.link' | translate }}</a></b>
  </p>
  <p>{{ 'hilfe.faq-allgemein.q6.p2' | translate }}</p>
</anosrv-hilfe-faq-box>

<anosrv-hilfe-faq-box [title]="'hilfe.faq-allgemein.q7.title' | translate">
  {{ 'hilfe.faq-allgemein.q7.response' | translate }}
  <a routerLink="/kontakt">{{ 'hilfe.faq-allgemein.q7.link' | translate }}</a>
</anosrv-hilfe-faq-box>

<anosrv-hilfe-faq-box [title]="'hilfe.faq-allgemein.q8.title' | translate">
  {{ 'hilfe.faq-allgemein.q8.response' | translate }}
</anosrv-hilfe-faq-box>

<anosrv-hilfe-faq-box [title]="'hilfe.faq-allgemein.q9.title' | translate">
  {{ 'hilfe.faq-allgemein.q9.response' | translate }}
</anosrv-hilfe-faq-box>

<anosrv-hilfe-faq-box [title]="'hilfe.faq-allgemein.q10.title' | translate">
  {{ 'hilfe.faq-allgemein.q10.response' | translate }}
</anosrv-hilfe-faq-box>
